[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dagster = "*"
mysql-connector-python = "*"
pandas = "*"
requests = "*"
circuitbreaker ="*"

[dev-packages]

[requires]
python_version = "3.8"
